<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ url_for('home') }}" class="navbar-brand">Cooking challenge</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('rankings') }}">Rankings</a></li>
            </ul>
            <ul class="nav navbar-nav nav-right">
            <li>
                <form action="{{ url_for('search') }}" method="post" name="search" class="input-group">
                    {{ g.search_form.hidden_tag() }}
                    {{ g.search_form.search(size=20, class="form-control", required="",
                                            title="Search syntax: <terms>; difficulty:<difficulty> tag:<tag>") }}
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">&#x1f50d;</button>
                    </span>
                </form>
            </li>
            {%if g.user.is_authenticated() %}
                <li><a href="{{ url_for('user', username=g.user.username) }}"> Hello, {{ g.user.username }}!</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
            </ul>
        </div>
    </div>
</nav>
