{% extends "base.html" %}

{% block content %}
    <form action="" method="post" name="post" class="form-post" role="form">
        <h1>{{title}}</h1>
        {{ form.hidden_tag() }}
        <div>
            {{ form.title.label }}
            {{ form.title(size=80, class="form-control", required="", autofocus="") }}
        </div>
        <div>
            {{ form.ingredients.label }}
            {% for field in form.ingredients %}
                {{ field(required="", class="form-control") }}
            {% endfor %}
        </div>
        <div>
            {{ form.body.label }}
            {{ form.body(rows=20, cols=100, class="form-control", required="") }}
        </div>
        <div>
            {{ form.difficulty.label }}
            {{ form.difficulty() }}
            {% if form.difficulty.errors %}
                 <ul class="alert alert-danger">
                     {% for error in form.difficulty.errors %}
                         <li>{{ error }}</li>
                     {% endfor %}
                 </ul>
            {% endif %}
        </div>
        <div>
            {{ form.start_time.label }}
            {{ form.start_time(id="datepicker", class="form-control", required="", **{"data-date-format": "DD-MM-YYYY HH:mm"}) }}
            {% if form.start_time.errors %}
                 <ul class="alert alert-danger">
                     {% for error in form.start_time.errors %}
                         <li>{{ error }}</li>
                     {% endfor %}
                 </ul>
            {% endif %}
        </div>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Post">
    </form>
{% endblock %}