{% extends "base.html" %}
{% block content %}
    <h2>{{ title }}</h2>
        <div class="post">
            <div class="author">
                <span>
                    <a href="{{ url_for('user', username=author) }}" >{{ author }}</a>
                </span>
                {% if can_edit %}
                    <span>
                        <a href="?edit=t">Edit</a>
                    </span>
                    <span>
                        <a href="?delete=t">Delete</a>
                    </span>
                {% endif %}
            </div>

            <div class="post-content">
                {{ content }}
            </div>

            {% if submissions_open %}
                <div class="submit">
                    <a href="?submit=t">Submit</a>
                </div>
            {% endif %}

            <h3>Submissions</h3>
            <ul class="submissions" data-post-id="{{ post_id }}">
                {% for submission in submissions %}
                    <li data-author-id="{{ submission.author_id }}" {% if submission.won %}class="winning-submission"{% endif %}>
                        <span class="winner">Winner</span>
                        <span class="star"></span>
                        {% if post_closed and can_edit %}
                            <a href="#">Choose as winner</a>
                        {% endif %}
                        <div class="upvote" >
                            <a {% if submission.user_upvoted %}class="on"{% endif %}>&#x25B2;</a>
                            <span>{{submission.score}}</span>
                        </div>
                        <a href="{{ url_for('user', username=submission.author) }}">{{ submission.author }}</a>
                        <img src="{{submission.url}}" alt="submission by {{ submission.author }}" width="300px" height="300px">
                        <span>{{ submission.text }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
{% endblock %}