{% extends "base.html" %}
{% block content %}
    <h2>{{ title }}</h2>
        <div class="post">
            <div class="author">
                <span>
                    {{ author }}
                </span>
                {% if can_edit %}
                    <span>
                        <a href="?edit=t">Edit</a>
                    </span>
                    <span>
                        <a href="?delete=t">Delete</a>
                    </span>
                {% endif %}
            </div>

            <div class="post-content">
                {{ content }}
            </div>

            {% if submissions_open %}
                <div class="submit">
                    <a href="?submit=t">Submit</a>
                </div>
            {% endif %}

            <h3>Submissions</h3>
            <ul class="submissions">
                {% for submission in submissions %}
                    <li>
                    {% if post_closed %}
                        <a href="#">Choose as winner</a>
                    {% endif %}
                    <a href="{{ url_for('user', username=submission.author) }}">{{ submission.author }}</a>
                    <img src="{{submission.url}}" alt="submission by {{ submission.author }}" width="300px" height="300px">
                    <span>{{ submission.text }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
{% endblock %}