{% extends "base.html" %}

{% block content %}
    <form action="" method="post" name="register" class="form-signin" role="form">
        <h2>Register</h2>
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}
            {{ form.username(size=80, class="form-control", required="", autofocus="") }}
        </div>
        <div>
            {{ form.email.label }}
            {{ form.email(size=80, class="form-control", required="") }}
            {% if form.email.errors %}
                 <ul class="alert alert-danger">
                     {% for error in form.email.errors %}
                         <li>{{ error }}</li>
                     {% endfor %}
                 </ul>
            {% endif %}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password(size=80, class="form-control", required="") }}
        </div>
        <div>
            {{ form.confirm.label }}
            {{ form.confirm(size=80, class="form-control", required="") }}
            {% if form.confirm.errors %}
                <ul class="alert alert-danger">
                    {% for error in form.confirm.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Register">
    </form>
{% endblock %}