{% extends "base.html" %}

{% block content %}
    <form action="" method="post" name="submit" enctype="multipart/form-data" class="form-post">
        <h1>{{title}}</h1>
        {{ form.hidden_tag() }}
        <div>
            {{ form.image.label }}
            {{ form.image(required="") }}
            {% if form.image.errors %}
                 <ul class="errors">
                     {% for error in form.image.errors %}
                         <li>{{ error }}</li>
                     {% endfor %}
                 </ul>
            {% endif %}
        </div>
        <div>
            {{ form.body.label }}
            {{ form.body(rows=10,cols=100, class="form-control", required="") }}
            {% if form.body.errors %}
                 <ul class="errors">
                     {% for error in form.body.errors %}
                         <li>{{ error }}</li>
                     {% endfor %}
                 </ul>
            {% endif %}
        </div>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">
    </form>
{% endblock %}