{% extends "base.html" %}
{% from "partials/_post.html" import post_template %}
{% block content %}
    <h1>{{ user.username }}'s userpage</h1>
    <div class="ranking">
        <span class="rank">
            Rank: {{ user.get_rank() }}
        </span>
        <span class="score">
            Score: {{ user.score }}
        </span>
    </div>
    <h2> Posts </h2>
    {% for post in user.posts[:5] %}
        {{ post_template("user", post) }}
    {% endfor %}
    <a>Show more</a>
    <h2> Submissions </h2>
    <ul class="submissions">
        {% for submission in user.submissions[:5] %}
            <li {% if submission.won %}class="winning-submission"{% endif %}>
                Post: <a href="{{ url_for('post', id=submission.post.id) }}">{{ submission.post.title }}</a>
                <span class="winner">Winner</span>
                <span class="star"></span>
                <img src="{{submission.url}}" alt="submission by {{ submission.author }}" width="300px" height="300px">
                <span>{{ submission.text }}</span>
            </li>
        {% endfor %}
    </ul>
    <a>Show more</a>
{% endblock %}